.app-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 95vh;
	background-image: url("./src/assets/speach-bubble-bg.svg");
	position: relative;
}

.layer {
	background-color: rgba(250, 250, 250, 0.712);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
