@mixin page-title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	color: #f8f9fa;
}

@mixin form-label {
	color: #f8f9fa;
	font-size: 1.5rem;
}

@mixin form-box {
	width: 50vw;
	background: #212529;
	padding: 20px 10px;
	border-radius: 30px;
}
