@use "../../styles/mixins" as *;

.register-page {
	@include form-box;
}

.register-title {
	@include page-title;
}

.register-form {
	margin-top: 10vh;
}

.register-submit {
	margin-top: 5vh;
}

.form-label {
	@include form-label;
}

.login-tag {
	color: #f8f9fa;
	text-align: center;
}
